body {
  font-family: "Barlow",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

header {
  background-color: hsl(207deg 90% 54%);  
  font-family: "Barlow",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

h1 {
  color: black;
  font-family: "Barlow",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

header h1 {
  font-family: "Barlow",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

